<% provide(:bodyid, "homepage") %>

<div class="home_logo col-sm-12">
  GoNowGo!
</div>

<div class="home_slogan col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
  Get notified of real-time discounts when your favorite places have extra space
</div>


<div class="col-sm-12">
  <center>
    <%= link_to(new_user_registration_path) do %>
      <div class="home_signup">
        Sign Up
      </div>
    <% end %>
  </center>
</div>
