<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <h3>
      <center>
        <img src="http://api.qrserver.com/v1/create-qr-code/?data=http//google.com&size=200x200">
      </center>
    </h3>
  </body>
</html>
